@import "tailwindcss";

@theme
{
    --color-terre: oklch(0.3185 0.0176 18.11);
    --color-creme: oklch(0.9793 0.007 88.64);
    --color-olivier: oklch(0.6633 0.0615 147.81);
    --color-ocre: oklch(0.7507 0.1295 79.85);
    --font-heading: "Playfair Display", serif;
    --font-body: "Inter", sans-serif;
    --font-tagline: "Pacifico", sans-serif;
}

body {
  font-family: var(--font-inter);
  height: 100%;
} 
